# Ignore node_modules and other common build artifacts
node_modules/
.env
.DS_Store
*.log
.next/
out/
build/
dist/
coverage/
*.local
*.cache
*.tmp
*.swp
*.swo
*.swn
*.bak
*.old
*.orig
*.rej
*.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore OS files
Thumbs.db
